In [51]:
import mysql.connector

In [52]:
connection = mysql.connector.connect(host='localhost',
                                         database='new_db',
                                         user='root',
                                         password='root')

In [53]:
cursor = connection.cursor()
cursor.execute("show databases")

In [54]:
for i in cursor:
    print(i)

('information_schema',)
('mysql',)
('new_db',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [55]:
cursor.execute("use new_db")

In [56]:
cursor.execute("show tables")

In [57]:
for i in cursor:
    print(i)

('assign',)
('assign3',)
('bonus',)
('bonus1',)
('hr_department',)
('title',)
('worker',)
('worker2',)

In [58]:
cursor.execute("select * from bonus")
x=cursor.fetchall()

In [59]:
print(x)

[(1, datetime.datetime(2016, 2, 20, 0, 0), 5000), (2, datetime.datetime(2016, 6, 11, 0, 0), 3000), (3, datetime.datetime(2016, 2, 20, 0, 0), 4000), (1, datetime.datetime(2016, 2, 20, 0, 0), 4500), (2, datetime.datetime(2016, 6, 11, 0, 0), 3500)]

In [60]:
import pandas as pd
x_df=pd.DataFrame(x)

In [61]:
print(x_df)

   0          1     2
0  1 2016-02-20  5000
1  2 2016-06-11  3000
2  3 2016-02-20  4000
3  1 2016-02-20  4500
4  2 2016-06-11  3500