In [74]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_squared_error,mean_absolute_error

In [2]:
cd D:\Data Science\Project\P2

D:\Data Science\Project\P2

In [3]:
df=pd.read_csv("Python_Linear_Regres.csv")

In [4]:
df.shape

(34857, 21)

In [5]:
df.isnull().sum()

Suburb               0
Address              0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Date                 0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
YearBuilt        19306
CouncilArea          3
Lattitude         7976
Longtitude        7976
Regionname           3
Propertycount        3
dtype: int64

## Part-1: data Exploration and Pre-processing

# 1) Load the given dataset

In [6]:
df.head(20)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,SS,Jellis,03/09/2016,2.5,3067.0,...,1.0,1.0,126.0,NaN,NaN,Yarra City Council,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,03/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra City Council,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,04/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra City Council,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,VB,Rounds,04/02/2016,2.5,3067.0,...,2.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,04/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra City Council,-37.8093,144.9944,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,04/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra City Council,-37.7969,144.9969,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,04/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra City Council,-37.8072,144.9941,Northern Metropolitan,4019.0
7,Abbotsford,16 Maugie St,4,h,NaN,SN,Nelson,06/08/2016,2.5,3067.0,...,2.0,2.0,400.0,220.0,2006.0,Yarra City Council,-37.7965,144.9965,Northern Metropolitan,4019.0
8,Abbotsford,53 Turner St,2,h,NaN,S,Biggin,06/08/2016,2.5,3067.0,...,1.0,2.0,201.0,NaN,1900.0,Yarra City Council,-37.7995,144.9974,Northern Metropolitan,4019.0
9,Abbotsford,99 Turner St,2,h,NaN,S,Collins,06/08/2016,2.5,3067.0,...,2.0,1.0,202.0,NaN,1900.0,Yarra City Council,-37.7996,144.9989,Northern Metropolitan,4019.0
10,Abbotsford,129 Charles St,2,h,941000.0,S,Jellis,07/05/2016,2.5,3067.0,...,1.0,0.0,181.0,NaN,NaN,Yarra City Council,-37.8041,144.9953,Northern Metropolitan,4019.0
11,Abbotsford,124 Yarra St,3,h,1876000.0,S,Nelson,07/05/2016,2.5,3067.0,...,2.0,0.0,245.0,210.0,1910.0,Yarra City Council,-37.8024,144.9993,Northern Metropolitan,4019.0
12,Abbotsford,121/56 Nicholson St,2,u,NaN,PI,Biggin,07/11/2016,2.5,3067.0,...,2.0,1.0,4292.0,82.0,2009.0,Yarra City Council,-37.8078,144.9965,Northern Metropolitan,4019.0
13,Abbotsford,17 Raphael St,4,h,NaN,W,Biggin,07/11/2016,2.5,3067.0,...,2.0,0.0,230.0,147.0,1860.0,Yarra City Council,-37.8066,144.9936,Northern Metropolitan,4019.0
14,Abbotsford,98 Charles St,2,h,1636000.0,S,Nelson,08/10/2016,2.5,3067.0,...,1.0,2.0,256.0,107.0,1890.0,Yarra City Council,-37.8060,144.9954,Northern Metropolitan,4019.0
15,Abbotsford,217 Langridge St,3,h,1000000.0,S,Jellis,08/10/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
16,Abbotsford,18a Mollison St,2,t,745000.0,S,Jellis,08/10/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0
17,Abbotsford,6/241 Nicholson St,1,u,300000.0,S,Biggin,08/10/2016,2.5,3067.0,...,1.0,1.0,0.0,NaN,NaN,Yarra City Council,-37.8008,144.9973,Northern Metropolitan,4019.0
18,Abbotsford,10 Valiant St,2,h,1097000.0,S,Biggin,08/10/2016,2.5,3067.0,...,1.0,2.0,220.0,75.0,1900.0,Yarra City Council,-37.8010,144.9989,Northern Metropolitan,4019.0
19,Abbotsford,403/609 Victoria St,2,u,542000.0,S,Dingle,08/10/2016,2.5,3067.0,...,NaN,NaN,NaN,NaN,NaN,Yarra City Council,NaN,NaN,Northern Metropolitan,4019.0

# 2) Print all the column names

In [7]:
df.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

# 3) Describe the data

In [8]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,34857.000000,2.724700e+04,34856.000000,34856.000000,26640.000000,26631.000000,26129.000000,23047.000000,13742.00000,15551.000000,26881.000000,26881.000000,34854.000000
mean,3.031012,1.050173e+06,11.184929,3116.062859,3.084647,1.624798,1.728845,593.598993,160.25640,1965.289885,-37.810634,145.001851,7572.888306
std,0.969933,6.414671e+05,6.788892,109.023903,0.980690,0.724212,1.010771,3398.841946,401.26706,37.328178,0.090279,0.120169,4428.090313
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1196.000000,-38.190430,144.423790,83.000000
25%,2.000000,6.350000e+05,6.400000,3051.000000,2.000000,1.000000,1.000000,224.000000,102.00000,1940.000000,-37.862950,144.933500,4385.000000
50%,3.000000,8.700000e+05,10.300000,3103.000000,3.000000,2.000000,2.000000,521.000000,136.00000,1970.000000,-37.807600,145.007800,6763.000000
75%,4.000000,1.295000e+06,14.000000,3156.000000,4.000000,2.000000,2.000000,670.000000,188.00000,2000.000000,-37.754100,145.071900,10412.000000
max,16.000000,1.120000e+07,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.00000,2106.000000,-37.390200,145.526350,21650.000000

# 4) Drop address, date, postcode, YearBuilt, lattitude, longtitude columns

In [9]:
df=df.drop(['Address','Date','YearBuilt','Lattitude','Longtitude'],axis=1)

# 5) Find the count of null value in each column

In [10]:
df.isnull().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             1
Postcode             1
Bedroom2          8217
Bathroom          8226
Car               8728
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        3
dtype: int64

# 6) Fill the null value of property count, distance, Bedroom2, Bathroom, Car with 0

In [11]:
df['Propertycount']=df['Propertycount'].fillna(0)
df['Distance']=df['Distance'].fillna(0)
df['Bedroom2']=df['Bedroom2'].fillna(0)
df['Bathroom']=df['Bathroom'].fillna(0)
df['Car']=df['Car'].fillna(0)

In [12]:
df.isnull().sum()

Suburb               0
Rooms                0
Type                 0
Price             7610
Method               0
SellerG              0
Distance             0
Postcode             1
Bedroom2             0
Bathroom             0
Car                  0
Landsize         11810
BuildingArea     21115
CouncilArea          3
Regionname           3
Propertycount        0
dtype: int64

# 7) Fill Null value of land size and bidding area columns with Mean

In [13]:
land_size=df['Landsize'].mean()
land_size

593.598993361392

In [14]:
df['Landsize']=df['Landsize'].fillna(land_size)

In [15]:
building_area=df['BuildingArea'].mean()
building_area

160.2564003565711

In [16]:
df['BuildingArea']=df['BuildingArea'].fillna(building_area)

In [17]:
df.isnull().sum()

Suburb              0
Rooms               0
Type                0
Price            7610
Method              0
SellerG             0
Distance            0
Postcode            1
Bedroom2            0
Bathroom            0
Car                 0
Landsize            0
BuildingArea        0
CouncilArea         3
Regionname          3
Propertycount       0
dtype: int64

# 8) Find the unique value in method column

In [18]:
df['Method'].unique()

array(['SS', 'S', 'VB', 'SP', 'PI', 'SN', 'W', 'PN', 'SA'], dtype=object)

# 9) Create a dummy data for categorical data

In [19]:
df['Price'].mean()

1050173.344955408

In [20]:
df.dropna(subset=['Price'], how='all', inplace=True,axis=0)
df.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
1,Abbotsford,2,h,1480000.0,S,Biggin,2.5,3067.0,2.0,1.0,1.0,202.0,160.2564,Yarra City Council,Northern Metropolitan,4019.0
2,Abbotsford,2,h,1035000.0,S,Biggin,2.5,3067.0,2.0,1.0,0.0,156.0,79.0000,Yarra City Council,Northern Metropolitan,4019.0
4,Abbotsford,3,h,1465000.0,SP,Biggin,2.5,3067.0,3.0,2.0,0.0,134.0,150.0000,Yarra City Council,Northern Metropolitan,4019.0
5,Abbotsford,3,h,850000.0,PI,Biggin,2.5,3067.0,3.0,2.0,1.0,94.0,160.2564,Yarra City Council,Northern Metropolitan,4019.0
6,Abbotsford,4,h,1600000.0,VB,Nelson,2.5,3067.0,3.0,1.0,2.0,120.0,142.0000,Yarra City Council,Northern Metropolitan,4019.0

In [21]:
df.shape

(27247, 16)

In [22]:
#df.isnull().sum()

In [23]:
#df['Postcode'].unique()

In [24]:
df.dropna(subset=['CouncilArea'], how='all', inplace=True,axis=0)
df.dropna(subset=['Regionname'], how='all', inplace=True,axis=0)

In [25]:
df.shape

(27244, 16)

In [26]:
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df[['Suburb','Type','Method','SellerG','CouncilArea','Regionname']] = df[['Suburb','Type','Method','SellerG','CouncilArea','Regionname']].apply(labelencoder.fit_transform)
df.head()

,Suburb,Rooms,Type,Price,Method,SellerG,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
1,0,2,0,1480000.0,1,32,2.5,3067.0,2.0,1.0,1.0,202.0,160.2564,31,2,4019.0
2,0,2,0,1035000.0,1,32,2.5,3067.0,2.0,1.0,0.0,156.0,79.0000,31,2,4019.0
4,0,3,0,1465000.0,3,32,2.5,3067.0,3.0,2.0,0.0,134.0,150.0000,31,2,4019.0
5,0,3,0,850000.0,0,32,2.5,3067.0,3.0,2.0,1.0,94.0,160.2564,31,2,4019.0
6,0,4,0,1600000.0,4,206,2.5,3067.0,3.0,1.0,2.0,120.0,142.0000,31,2,4019.0

##  Part-2: Working with Model

# 1) Create the target data and feature data where target data is price

In [27]:
feature_data=df.drop('Price',axis='columns')
feature_data.head()

,Suburb,Rooms,Type,Method,SellerG,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,CouncilArea,Regionname,Propertycount
1,0,2,0,1,32,2.5,3067.0,2.0,1.0,1.0,202.0,160.2564,31,2,4019.0
2,0,2,0,1,32,2.5,3067.0,2.0,1.0,0.0,156.0,79.0000,31,2,4019.0
4,0,3,0,3,32,2.5,3067.0,3.0,2.0,0.0,134.0,150.0000,31,2,4019.0
5,0,3,0,0,32,2.5,3067.0,3.0,2.0,1.0,94.0,160.2564,31,2,4019.0
6,0,4,0,4,206,2.5,3067.0,3.0,1.0,2.0,120.0,142.0000,31,2,4019.0

In [28]:
target_data=df['Price']
target_data.head()

1    1480000.0
2    1035000.0
4    1465000.0
5     850000.0
6    1600000.0
Name: Price, dtype: float64

# 2) Create a linear regression model for Target and feature data

In [29]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(feature_data,target_data,test_size=0.2,random_state=20)

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
reg_model=LinearRegression()
reg_model.fit(X_train,Y_train)

LinearRegression()

In [32]:
Predt_Price=reg_model.predict(X_test)
Predt_Price

array([1582077.75901199,  754649.8092488 , 1771065.9571735 , ...,
       1079076.89281721, 1223088.05119211, 1297790.23726735])

# 3) Check if the model is overfitting or underfitting or it is accurate

In [33]:
reg_model.score(X_test,Y_test)

0.4823950093059779

In [34]:
reg_model.score(X_train,Y_train)

0.47613824658307335

# 4) If the model is overfitting then apply ridge and lasso regression algorithms

In [35]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import Lasso

## Ridge Regression

In [55]:
ridge_reg= Ridge(alpha=80, max_iter=200,)
ridge_reg.fit(X_train, Y_train)

Ridge(alpha=80, max_iter=200)

In [56]:
prect_price=ridge_reg.predict(X_test)
prect_price

array([1578478.88595784,  752960.94287948, 1766515.21302633, ...,
       1082781.26584564, 1220863.02178514, 1295496.59012341])

In [58]:
ridge_reg.score(X_train,Y_train)

0.47612175857382155

In [65]:
ridge_reg.score(X_test, Y_test)

0.48217348852610564

## Lasso Regression

In [60]:
lasso_reg=Lasso(alpha=90, max_iter=200,)
lasso_reg.fit(X_train, Y_train)

Lasso(alpha=90, max_iter=200)

In [64]:
lasso_reg.score(X_train,Y_train)

0.476137867138958

In [63]:
lasso_reg.score(X_test, Y_test)

0.4823614716578837

## 5) Extract slope and intercept value from the model

In [66]:
print('Slope:',reg_model.coef_)

Slope: [-6.39235995e+02  2.94286978e+05 -1.98337963e+05 -3.22687389e+03
 -1.24105841e+02 -4.98044035e+04  1.42252626e+03 -1.07926560e+05
  1.92043076e+05  2.97726003e+04  4.21539416e+00  5.23010338e+01
 -6.41319475e+03  1.20898712e+04  4.84441894e-02]

In [67]:
print('Intercept:',reg_model.intercept_)

Intercept: -3446917.8449319457

## 6) Display Mean Squared Error

In [69]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [71]:
print("Mean Squared Error:",mean_squared_error(Y_test,Predt_Price))

Mean Squared Error: 218649273948.91376

## 7) Display Mean Absolute Error

In [72]:
print("Mean Absolute Error:",mean_absolute_error(Y_test,Predt_Price))

Mean Absolute Error: 308437.8970659483

## 8) Display Root mean Squared error

In [92]:
mse=mean_squared_error(Y_test,Predt_Price)
rmse=np.sqrt(mse)
print("root mean squared error:",rmse)

root mean squared error: 467599.4802701493

## 9) Display R2 score

In [93]:
print("R2 Score:",r2_score(Y_test,Predt_Price))

R2 Score: 0.4823950093059779