In [2]:
x=["red","big","tasty"]
y=["apple","banana","cherry"]

# way 1:
for i in range(len(x)):
    for j in range(len(y)):
        if i==j:
            print(x[i],y[i])
# way 2:
for i in range(len(x)):
    print(x[i],y[i])

red apple
big banana
tasty cherry
red apple
big banana
tasty cherry

In [1]:
x1=[1,2,3,4,5]
y1=[2,5,1,6]

#I want output like
#1,2/1,5/1,6/2,5/2,6/3,5/3,6/4,5/4,6/5,6

for i in x1:
    for j in y1:
        if(j>i):
            print(i,j)

1 2
1 5
1 6
2 5
2 6
3 5
3 6
4 5
4 6
5 6

In [10]:
x1=[1,2,3,4,5]
y1=[2,5,1,6]

    my_ls=[]
    for i in x:
        for j in y:
            if(j>i):
                #print(i,j)
                z=str(i)+"_"+str(j)
                my_ls.append(z)
    return my_ls


output=my_fun()
print(output)

['3_8', '3_4', '4_8']

In [4]:
for val in x1:
    for val1 in y1:
        if val<val1:
            print(val,val1)

1 2
1 5
1 6
2 5
2 6
3 5
3 6
4 5
4 6
5 6

In [ ]:
#write the function for the give bonus of 10% on employee salary if salary < 2000 and 20% if <1000

In [11]:
#lambda function :
x= lambda a:a+10
print(x(5))

15

In [12]:
#make lambda function with 3 value  a+b*c

y= lambda a,b,c:a+b*c
print(y(2,3,4))

14

In [15]:
def my_fun(n):
    p=lambda a: a**n
    return p
my_square= my_fun(2)

my_cube= my_fun(3)
print("square of 10 is :",my_square(10))
print("cube of 10 is :" ,my_cube(10))

square of 10 is : 100
cube of 10 is : 1000

In [16]:
a = {'emp1': {'name': 'Bob', 'job': 'Mgr'},
     'emp2': {'name': 'Kim', 'job': 'Dev'},
     'emp3': {'name': 'Sam', 'job': 'Dev'}}
a['emp1']['name']="jack"
print(a)

{'emp1': {'name': 'jack', 'job': 'Mgr'}, 'emp2': {'name': 'Kim', 'job': 'Dev'}, 'emp3': {'name': 'Sam', 'job': 'Dev'}}

In [ ]:
fruits=["apple","cherry","banana"]
values=[10,20,40]


fruits_1=["apple","cherry"]
value_1=[59,90]

def my_increment(names,values):
    new_values=[]
    for i in range(len(names)):
        if names[i]=="cherry":
            val=values[i]+20
            new_values.append(val)
        else:
            new_values.append(values[i])
    return new_values

new_values=my_increment(fruits,values)
print(new_values)
new_values_1=my_increment(fruits_1,value_1)
print(new_values_1)

In [ ]:
def gretting_letter(names):
    for name in names:
        print("hello ,"+name +"\n"+"Welcome to our company")
        print("==========================================")

    
names=["pushyan","monalisa"]
gretting_letter(names)

In [ ]:
x=["a","b","c","d"]
y=22
22a,22b,22c,22d

print(type(x[1]))
for p in x:
    print(p+"a")

In [18]:
#one way to change
#cd path
# second way
import os
os.getcwd()
os.chdir("")

OSError: [WinError 123] The filename, directory name, or volume label syntax is incorrect: ''

In [22]:
import pandas as pd
my_excel =pd.read_csv(r"C:\Users\Urmay\Downloads\python.csv")
my_excel.head()

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1

In [25]:
my_excel_2=pd.read_csv("C:\\Users\\Urmay\\Downloads\\python.csv")
my_excel_2.head()

   use_id  user_id platform  platform_version     device  use_type_id
0   22782    26980      ios              10.2  iPhone7,2            2
1   22783    29628  android               6.0    Nexus 5            3
2   22784    28473  android               5.1   SM-G903F            1
3   22785    15200      ios              10.2  iPhone7,2            3
4   22786    28239  android               6.0  ONE E1003            1